.input{
    border: 1px solid green;
    color: red;
    border-radius: 4px;
    line-height: 24px;
    width: 300px;
    margin-bottom: 10px;
}
.textarea{
    resize: none;
}
.btn{
    color: white;
    background-color: blue ;
    border: 1px solid black;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}